
  

  <div class="card-body" style="text-align: -webkit-center;margin: 20px;" >

    <div style="max-height: 680px;width: 450px;border: 2px solid black;" >
     
      <div fxLayout="column" >
        <div  fxLayout="row" style="margin-top: 10px;border-bottom: 2px solid;padding-bottom: 10px;">
        <input style=" width: 80%;height: 35px; margin: 0 auto; border: auto; border-radius: 10px;" *ngIf="taskList.length && isShowTextBox==false" class="form-control" type="search.." placeholder="search" [(ngModel)]="searchText">
        <div fxLayoutAlign="end end">
        <button  *ngIf="isShowTextBox==false"  type="submit" (click)="isShowTextBox=true"><i class="fas fa-plus-square" style='font-size:24px'></i>
        </button>
        <button style="float: right;" *ngIf="isShowTextBox==true"type="save" (click)="todoadd()"> 
          <i class='far fa-save' style='font-size:24px'></i>
        </button>
      </div>
      </div>

<div>
        <textarea *ngIf="isShowTextBox==true" style="height: 420px;width: 420px;" class="form-control" type="text" name="newtask" id="newtask" [(ngModel)]="newtask"></textarea>
       
       
       <div *ngIf="isShowTextBox==false" fxLayout="row">
        <ul class="col-sm-12" style="list-style: none;">
          <li   (click)="onclick(i)" *ngFor="let task of taskList | filterPipe :searchText;let i=index ">{{task}}
          
            <button style="float: right;" (click)="removetask(i)"><i class="far fa-trash-alt"></i></button>
          </li>
  
  
        </ul>
        
      </div>
        </div>
        <div  style="border-top: 2px solid;" >
          <div>
            <h2 *ngIf="taskList.length">Total Notes {{taskList.length}}</h2>
            <h2 *ngIf="!taskList.length">No Task Available</h2>
          </div>
    
      </div>
        
     
      </div>
  
     
    </div>
    
   
    


    



  </div>

